.noticeFaqBox {
    display: flex;
    margin-bottom: 20px;
}

.noticeBox, .faqBox {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
}

.noticeBox {
    margin-right: 20px;
}

.titleBox {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.titleBox::after {
    content: "";
    background-color: #dcdcdc;
    flex-flow: column;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    display: block;
}

.titleBoxInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.row:not(:last-of-type) {
    margin-bottom: 30px;
}

@media screen and (max-width: 1366px){
    .noticeFaqBox {
        flex-flow: column;
    }

    .noticeBox {
        margin-right: 0;
        margin-bottom: 20px;
    }
}