.gameResultBox {
    padding: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
}

.titleBox {
    display: flex;
    flex-flow: column;
}

.titleBox::after {
    content: "";
    background-color: #dcdcdc;
    flex-flow: column;
    width: 100%;
    height: 1px;
    margin: 20px 0px;
    display: block;
}

.titleBoxInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;;
}

.contentBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.gameTable {
    width: 100%;
    table-layout: fixed;
    font-size: 1.2rem;
}

.headRow > th {
    padding-bottom : 10px;
}

.headRow, .row:not(:last-of-type) {
    border-bottom: 1px solid #dcdcdc;
}

.headRow > th:first-child {
    width: 50px;
}

.row > th {
    padding: 15px 0;
}

.headRow > th:first-child, .row > th:first-child {
    border-right: 1px solid #dcdcdc;
}

.zombieRace {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}
.zombieFignt {
    -ms-grid-column: 3;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}
.zombieBreak {
    -ms-grid-column: 5;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}
.zombieDrop {
    -ms-grid-column: 7;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
}

@media screen and (max-width: 1650px){
    .contentBox {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 20px 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }

    .zombieRace {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .zombieFignt {
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .zombieBreak {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }
    .zombieDrop {
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 3;
        grid-row: 2;
    }
}

@media screen and (max-width: 900px){
    .contentBox {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
    }

    .zombieRace {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    .zombieFignt {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }
    .zombieBreak {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
    }
    .zombieDrop {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 7;
        grid-row: 4;
    }
}