@import './reset.css';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 10px;
}

a, a:visited {
    color: black;
}

.wrap {
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    padding: 20px;
    background-color: #eff3fa;
}

.moreBtn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #683b93;
    color: white;
}


@media screen and (max-width: 900px) {
    html, body {
        font-size: 9px;
    }
  }